*,
*::before,
*::after {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  text-decoration: none;
  list-style-type: none;
  font-family: monospace;
}

a:visited {
  color: inherit;
}

*::selection {
  background: rgb(0, 128, 0);
  color: white;
}

header,
footer {
  height: 10vh;
}

main {
  height: 80vh;
}

body {
  background-color: #111;
  color: whitesmoke;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

header ul li {
  width: calc(100vw / 3);
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
